<h1>Listing leadership_home_teachers</h1>

<table>
  <tr>
    <th>New and returning member progress</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leadership_home_teachers.each do |leadership_home_teacher| %>
  <tr>
    <td><%= leadership_home_teacher.new_and_returning_member_progress_id %></td>
    <td><%= leadership_home_teacher.name %></td>
    <td><%= link_to 'Show', leadership_home_teacher %></td>
    <td><%= link_to 'Edit', edit_leadership_home_teacher_path(leadership_home_teacher) %></td>
    <td><%= link_to 'Destroy', leadership_home_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Home teacher', new_leadership_home_teacher_path %>
