<p id="notice"><%= notice %></p>

<p>
  <b>New and returning member progress:</b>
  <%= @leadership_home_teacher.new_and_returning_member_progress_id %>
</p>

<p>
  <b>Name:</b>
  <%= @leadership_home_teacher.name %>
</p>


<%= link_to 'Edit', edit_leadership_home_teacher_path(@leadership_home_teacher) %> |
<%= link_to 'Back', leadership_home_teachers_path %>
