<h1>Listing leadership_ward_council_representatives</h1>

<table>
  <tr>
    <th>New and returning member progress</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leadership_ward_council_representatives.each do |leadership_ward_council_representative| %>
  <tr>
    <td><%= leadership_ward_council_representative.new_and_returning_member_progress_id %></td>
    <td><%= leadership_ward_council_representative.name %></td>
    <td><%= link_to 'Show', leadership_ward_council_representative %></td>
    <td><%= link_to 'Edit', edit_leadership_ward_council_representative_path(leadership_ward_council_representative) %></td>
    <td><%= link_to 'Destroy', leadership_ward_council_representative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ward council representative', new_leadership_ward_council_representative_path %>
