<%= form_for(@new_and_returning_member_progress_check_list_item) do |f| %>
  <% if @new_and_returning_member_progress_check_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_and_returning_member_progress_check_list_item.errors.count, "error") %> prohibited this new_and_returning_member_progress_check_list_item from being saved:</h2>

      <ul>
      <% @new_and_returning_member_progress_check_list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new_and_returning_member_progress_id %><br />
    <%= f.number_field :new_and_returning_member_progress_id %>
  </div>
  <div class="field">
    <%= f.label :check_list_item_label_id %><br />
    <%= f.number_field :check_list_item_label_id %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br />
    <%= f.date_select :date_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
