<p id="notice"><%= notice %></p>

<p>
  <b>Ward branch:</b>
  <%= @new_and_returning_member_progress.ward_branch %>
</p>

<p>
  <b>Stake district:</b>
  <%= @new_and_returning_member_progress.stake_district %>
</p>

<p>
  <b>Address:</b>
  <%= @new_and_returning_member_progress.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @new_and_returning_member_progress.phone_number %>
</p>


<%= link_to 'Edit', edit_new_and_returning_member_progress_path(@new_and_returning_member_progress) %> |
<%= link_to 'Back', new_and_returning_member_progresses_path %>

<style type="text/css">
  ul#xdetails {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: none;
  }

  ul#xdetails li+li{
    margin: 2em 0 2em 2em;
  }
  ul#xdetails li{
    height: 100px;
    width: 150px;
    background: silver;
    border: 1px solid black; 
    display: inline-block;
    margin: 2em 0 2em;
  }

  .association h1{
    font-size: 14pt;
  }
</style>

<ul id="xdetails">
  <li id="xparents"></li>
  <li id="xchildren"></li>
  <li id="xward_council_representatives"></li>
  <li id="xhome_teachers"></li>
  <li id="xvisiting_teachers"></li>
</ul>


<div id="details" class="row">
  <div id="parents" class="association span6">
    <div class="well"><%= link_to "Parents", polymorphic_url([@new_and_returning_member_progress, :family, :parents], layout: "none") %></div>
  </div>
  <div id="children" class="association span6">
    <div class="well"><%= link_to "Children", polymorphic_url([@new_and_returning_member_progress, :family, :children], layout: "none") %></div>
  </div>

  <div id="ward_council_representatives" class="association span6">
    <div class="well"><%= link_to "Ward Council Representatives", polymorphic_url([@new_and_returning_member_progress, :leadership, :ward_council_representatives], layout: "none") %></div>
  </div>
  <div id="home_teachers" class="association span6">
    <div class="well"><%= link_to "Home Teachers", polymorphic_url([@new_and_returning_member_progress, :leadership, :home_teachers], layout: "none") %></div>
  </div>
  <div id="visiting_teachers" class="association span6">
    <div class="well"><%= link_to "Visiting Teachers", polymorphic_url([@new_and_returning_member_progress, :leadership, :visiting_teachers], layout: "none") %></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#details .association a").click(function(){
      href = $(this).attr("href");
      anchor = $(this);
      $.get(href, function(data){
        $(anchor).closest("div").html(data);
      });
      return false;
    });
  });
</script>
