<p id="notice"><%= notice %></p>

<div style="display: none; " id="new_and_returning_member_progress_id"><%= @new_and_returning_member_progress.id %></div>
<p>
  <b>Ward branch:</b>
  <%= @new_and_returning_member_progress.ward_branch %>
</p>

<p>
  <b>Stake district:</b>
  <%= @new_and_returning_member_progress.stake_district %>
</p>

<p>
  <b>Address:</b>
  <%= @new_and_returning_member_progress.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @new_and_returning_member_progress.phone_number %>
</p>


<%= link_to 'Edit', edit_new_and_returning_member_progress_path(@new_and_returning_member_progress) %> |
<%= link_to 'Back', new_and_returning_member_progresses_path %>

<style type="text/css">
  ul#xdetails {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: none;
  }

  ul#xdetails li+li{
    margin: 2em 0 2em 2em;
  }
  ul#xdetails li{
    height: 100px;
    width: 150px;
    background: silver;
    border: 1px solid black; 
    display: inline-block;
    margin: 2em 0 2em;
  }

  .association h1{
    font-size: 14pt;
  }
</style>

<ul id="xdetails">
  <li id="xparents"></li>
  <li id="xchildren"></li>
  <li id="xward_council_representatives"></li>
  <li id="xhome_teachers"></li>
  <li id="xvisiting_teachers"></li>
</ul>


<div id="details" class="row">
  <div id="parents" class="association span6">
    <div class="well"><%= link_to "Parents", polymorphic_url([@new_and_returning_member_progress, :family, :parents], layout: "none") %></div>
  </div>
  <div id="children" class="association span6">
    <div class="well"><%= link_to "Children", polymorphic_url([@new_and_returning_member_progress, :family, :children], layout: "none") %></div>
  </div>

  <div id="ward_council_representatives" class="association span6">
    <div class="well"><%= link_to "Ward Council Representatives", polymorphic_url([@new_and_returning_member_progress, :leadership, :ward_council_representatives], layout: "none") %></div>
  </div>
  <div id="home_teachers" class="association span6">
    <div class="well"><%= link_to "Home Teachers", polymorphic_url([@new_and_returning_member_progress, :leadership, :home_teachers], layout: "none") %></div>
  </div>
  <div id="visiting_teachers" class="association span6">
    <div class="well"><%= link_to "Visiting Teachers", polymorphic_url([@new_and_returning_member_progress, :leadership, :visiting_teachers], layout: "none") %></div>
  </div>
</div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
    </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#details .association a").click(function(){
      var href = $(this).attr("href");
      var anchor = $(this);
      $.get(href, function(data){
        var section = $(anchor).closest("div");
        $(section).html(data);
        setTimeout(function(){regChildSection($(section));}, 150);
      });
      return false;
    });

    $('#myModal').modal({
    keyboard: true, 
    show: false
    });

  });

  var new_and_returning_member_progress_id = $("#new_and_returning_member_progress_id").html();

  function regChildSection(section){
    //$("#details .well a:contains('New')").click(function(){
    console.log($(section).html());
    var new_record = $(section).find("a:contains('New')");
    $(new_record).click(function(){
      var href = $(new_record).attr("href") + "?layout=none&new_and_returning_member_progress_id=" + new_and_returning_member_progress_id;
      getModal(section, href);
      return false;
    });

    var show_record = $(section).find("a:contains('Show')");
    $(show_record).click(function(){
      var href = $(show_record).attr("href") + "?layout=none";
      // var href = $(show_record).attr("href") + "?layout=none&new_and_returning_member_progress_id=" + new_and_returning_member_progress_id;
      getModal(section, href);
      return false;
    });

    var edit_record = $(section).find("a:contains('Edit')");
    $(edit_record).click(function(){
      var href = $(edit_record).attr("href") + "?layout=none";
      // var href = $(edit_record).attr("href") + "?layout=none&new_and_returning_member_progress_id=" + new_and_returning_member_progress_id;
      getModal(section, href);
      return false;
    });

    var destroy_record = $(section).find("a:contains('Destroy')");
    $(destroy_record).click(function(){
      var record = this;
      var href = $(destroy_record).attr("href") + "?layout=none";
      // getModal(section, href);
      var csrf_token = $("meta[name='csrf-token']").attr("content");
      var utf8 = "utf8=✓";
      var method = "_method=DELETE"
      var data = [csrf_token, utf8, method].join("&");
      $.post(href, data, function(data){
        console.log("remove record row");
        $(record).closest("tr").hide();
      }, "json");
      return false;
    });
  }

  function getModal(section, href){
      $.get(href, function(data){
        showModal();
        var modal_body = $("#myModal").find(".modal-body");
        $(modal_body).html(data);

        var modal_header = $("#myModal").find(".modal-header h3");
        var header_value = $(section).parent().attr("id");
        $(modal_header).html(header_value);
        //setTimeout(function(){regChildSection($(section));}, 150);
      });
  }

  function showModal(){
    $("#myModal").modal('show');
  }


</script>
