<%= form_for(@leadership_visiting_teacher) do |f| %>
  <% if @leadership_visiting_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leadership_visiting_teacher.errors.count, "error") %> prohibited this leadership_visiting_teacher from being saved:</h2>

      <ul>
      <% @leadership_visiting_teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new_and_returning_member_progress_id %><br />
    <%= f.number_field :new_and_returning_member_progress_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
