<h1>Listing leadership_visiting_teachers</h1>

<table>
  <tr>
    <th>New and returning member progress</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leadership_visiting_teachers.each do |leadership_visiting_teacher| %>
  <tr>
    <td><%= leadership_visiting_teacher.new_and_returning_member_progress_id %></td>
    <td><%= leadership_visiting_teacher.name %></td>
    <td><%= link_to 'Show', leadership_visiting_teacher %></td>
    <td><%= link_to 'Edit', edit_leadership_visiting_teacher_path(leadership_visiting_teacher) %></td>
    <td><%= link_to 'Destroy', leadership_visiting_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visiting teacher', new_leadership_visiting_teacher_path %>
